/* Entete*/

.entete{
 max-width: 960px;
 margin: 0 auto;
 border-top: 1px solid #323;
 clear: both;

 &__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }
 &__flex div {
  width: 50%;
 }
 &__don {
  display: flex;
  flex-direction: column;
  background-color: $vert;
  margin: 20px;
  &--img {
   width: 50%;
   padding-left: 25%;
   padding-top:10px;
  }
  &--span {
   padding-left: 40%;
   font-size: 20px;
  }
 }
}