/**
 * @author Prénom Nom courriel
 * @todo ADAPTER ce fichier selon le projet
**/

/**
 * TABLE DES MATIÈRES
 * Palette de couleurs
 * Base commune
 * - Bouton du menu
 * - Liste du menu
 * - Liens du menu
 * Si le javascript est activé
 */

/****** Base commune *******/

/* Bouton du menu (injecté par JavaScript)*/
.navigation{
    background-color: white;
    max-width: 960px;
    margin: 0 auto;
    &__controle {
        color:white ;
        background-color: white;
        border: none;
        padding: 10px;
        min-width: 40px;
        &:hover{
            color: $orange;
        }
        &:active{
            color: $rouge_2;
        }
        &:focus{
            /**
             * Les styles du navigateur utilisent la règle outline pour définir
             * l'état focus des éléments interactifs.
             * Vous pouvez redéfinir cette règle ou remplacer par d'autres styles
             * mieux adaptés à la direction visuelle.
             * MAIS il faut souligner l'état focus et le tester au clavier.
             */
            outline-offset: -5px;
            outline: $rouge_3 auto 5px;
        }
        @media (min-width: 601px) {
            display: none;
        }
    }
    /* Liste du menu */
    &__liste {
        margin: 0;
        padding: 0;
        list-style: none;
        max-height: none;

    }
    &__listeItem {
        display: flex;
        flex-direction: column;
        @media (min-width: 601px) {
            display: inline-block;
        }
    }

    /* Liens du menu */
    &__listeLien {
        background-color: $vert;
        display: block;
        padding: 5px 10px;
        width: 100%;

        &:link, &:visited {
            text-decoration: none;
            color: inherit;
            color: $orange;
        }
        &:hover {
            text-decoration: underline;
             color: $rouge_2;
        }
        &:active{
            text-decoration: underline;
            color: $rouge_3;

        }

        &--actif {
            border-left: 5px solid #f4d07c;
            color: $rouge_3;
        }
        // &:focus {
        /*     outline: none;
             border-left: 5px solid #f5ae09;*/
        //     outline-offset: -5px;
        //     outline: #f5ae09 auto 10px;
        // }
    }
}

/* Si le javascript est activé */

/* Pour des raisons d'accessibilité, on ne cache le menu mobile
 * que si JavaScript est activé. De cette façon, s'il est désactivé,
 * le menu restera tout de même visible à l'utilisateur.
 */

.js .menu__liste {
    max-height: 100vh;
    overflow: hidden;
    transition: max-height 0.5s;
}

.js .menu--ferme .menu__liste {
    max-height: 0;
    @media (min-width: 601px) {
        max-height: none;
    }
}