/**
* @author Gabriel Caron <1861095@csfoy.ca>
* @version 1.1
*
* ------------------
* TABLE DES MATIERES
* ------------------
* STYLES GÉNÉRAUX
*
*
*/

/* Base décimale */
html {
  font-size: 62.5%;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}
