/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 2021.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* STYLES GÉNÉRAUX
*
*
*/

/* Base décimale */
html {
  font-size: 62.5%;
}
button, a {
  cursor: pointer;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}


.navigation {
  & .bouton {
    font-size: 2rem;
    &--action {
      font-size: 2.5rem;
    }
  }
}
