/**
* @author Gabriel Caron <1861095@csfoy.ca>
* @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* ACCUEIL
* Nouveautés
*/


.accueil {
  &__titre {
	margin: 9rem 0 4rem 0;
  }
}

.nouveautes, .aparaitre {
  @include paddingConteneur;
  @include conteneur1400px($pointRupture: 500px);

  &__conteneurGrille {
	@include rangeeGrid12col($pointRupture: 500px);
	@media (min-width: $desktop1000px) {
	  margin: 0 6rem;
	}
	@media (min-width: $desktop1400px) {
	  margin: 0 8rem;
	}
  }
}

.actualites {
  & .actualite {
	&__lien {
	  grid-column: 1 / 12;
	}
	&__article {
	  @include rangeeGrid12col();
	}
	&__image {
	  grid-column: span 2;
	}
	&__titre {
	  grid-column: span 10;
	}
  }
}



