/**
* @author Gabriel Caron <1861095@csfoy.ca>
* @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* ACCUEIL
* Nouveautés
*/


.accueil {
  &__titre {
	grid-column: span 12;
	margin: 9rem 0 4rem 0;
  }
}

.nouveautes, .aparaitre {
  margin-bottom: -15rem;

  &__conteneurGrille {
	@media screen and (max-width: $desktop1000px) {
	  grid-column: span 12;
	}
	@include rangeeGrid12col($pointRupture: 500px);
	@media (min-width: $desktop1000px) {
	  margin: 0 6rem;
	}
	@media (min-width: $desktop1400px) {
	  margin: 0 8rem;
	}
  }

  .livre {
	&__titre {
	  margin-top: 3rem;
	  @media screen and (min-width: $desktop1000px) {
	    margin-top: 8rem;
	  }
	}

	&__tablette {
	  display: none;
	}

	@media screen and (min-width: $desktop1000px) {
	  &__tablette {
		grid-column: 1 / 12;
		display: block;
		position: relative;
		top: -27rem;
	  }
	}
  }
}

.actualites {
  @include paddingConteneur;
  @include conteneur1400px($pointRupture: 500px);

  & .actualite {
	margin-bottom: 3rem;
	@include rangeeGrid12col($pointRupture: 500px);


	&__image {
	  grid-column: span 3;
	}

	&__conteneurInfos {
	  grid-column: span 9;
	}

	&__contenu {
	  margin: 1rem 0;
	}

	// À déplacer dans boutons.scss éventuellement
	&__lien {
	  grid-column: 1 / 12;
	  font-family: $RobotoMedium;
	  font-size: 2rem;
	  text-transform: uppercase;
	  letter-spacing: 2px;
	  padding-right: 3rem;
	}
  }
}



