@import url(http://fonts.googleapis.com/css?family=Montserrat);

* {
  margin: 0;
  padding: 0;
}

.nav {
  height: 40px;
  display: inline-block;
}

.nav li {
  float: left;
  list-style-type: none;
  position: relative;
}

.nav li a {
  font-size: 16px;
  color: black;
  display: block;
  line-height: 40px;
  padding: 0 26px;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

#settings a {
  padding: 18px;
  height: 24px;
  font-size: 10px;
  line-height: 24px;
}

#search {
  display: flex;
}
#search_text{
  width: 55%;
  padding: 15px 0 15px 20px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  height: 40px;
  margin-right: 0;
  color: black!important;
  outline: none;
  background: none;
  border-top:2px solid $bleuRoyal ;
  border-bottom:2px solid $bleuRoyal ;
  float: left;
  box-sizing: border-box;
  transition: all 0.15s;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: black;
}
#search_text:focus {
  background: rgb(64, 151, 119);
}
#search_button {
  background: url(../../liaisons/images/loupe.png) center no-repeat;
  width: 60px;
  float: left;
  border-top: 2px solid $bleuRoyal;
  border-bottom: 2px solid $bleuRoyal;
  border-right: 2px solid $bleuRoyal;
  padding: 0;
  text-align: center;
  height: 40px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}
#options{
  background: $bleuRoyal;
  border-radius: 10px 0 0 10px;

}
#options a{
  border-left: 0 none;
  color: white;
}
#options a:hover{
  border-left: 0 none;
  color: $bleuRoyal;
}
#options>a {
  background-image: url(liaisons/images/triangle.png);
  background-position: 85% center;
  background-repeat: no-repeat;
  padding-right: 24px;
}
.subnav {
  visibility: hidden;
  position: absolute;
  top: 110%;
  left: 0;
  width: 200px;
  height: auto;
  opacity: 0;
  transition: all 0.1s;
  background: $bleuRoyal;
}
.subnav li {
  float: none;
}
.subnav li:hover{
  color: $bleuRoyal;
  border: 2px solid $bleuRoyal;
}
.subnav li a {
  border-bottom: 2px solid white;
}
.subnav li a:hover {
  background: white;
  color: $bleuRoyal;
  border: 2px solid $bleuRoyal;
}
#options:hover .subnav {
  visibility: visible;
  top: 100%;
  opacity: 1;
}
.liste{
  display: contents;
}
/*
@media (max-width: 700px) {
  #search {
    width: 80%;
  }
  #search_text{
    width: 87%;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    height: 40px;
    margin-right: 0;
    color: black!important;
    outline: none;
    background: none;
    border-top:2px solid $bleuRoyal ;
    border-bottom:2px solid $bleuRoyal ;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
  }
}*/
