/**
* @author Gabriel Caron
* @author Nicolas Thibault
* @version 2.0
*
* ------------------
* CHAMP DE RECHERCHE
* ------------------
*
*/
.nav li {
  list-style-type: none;
  position: relative;
}

.nav li a {
  font-size: 1.8rem;
  color: black;
  display: block;
  line-height: 40px;
  text-decoration: none;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}


/* Champ de recherche */

.champRecherche {
  display: flex;

  &__select {
    padding: 0 1rem;
    font-size: 1.6rem;
    background-color: $bleuRoyal;
    color: $blanc;
    border-radius: 10px 0 0 10px;
  }

  &__champ {
    padding: 1.2rem;
    border-top: 1px solid #0050AF;
    border-bottom: 1px solid #0050AF;
    font-size: 1.6rem;
    &::placeholder {
      color: $noir;
    }
  }

  &__boutonRechercher {
    padding: 0.5rem 1.5rem 0 1.5rem;
    background-color: $blanc;
    border-top: 1px solid #0050AF;
    border-bottom: 1px solid #0050AF;
    border-right: 1px solid #0050AF;
    border-radius: 0 10px 10px 0;
  }
}
