/**
* @author Gabriel Caron
* @author Nicolas Thibault
* @version 1.1
*
* ------------------
* EN-TÊTE
* ------------------
*
*/


.entete {
  @include conteneur1400px($conteneurBleed: true);

  border-top: 10px solid $bleuRoyal;

  @media screen and (min-width: $mobile600px) {
	background: #F7F7F7;
  }

  &__compteFlex {
	display: flex;
	align-items: center;
	gap: 2rem;
  }

  & .topNavLink {
	margin-top: 0;
	transition: 400ms all ease-in-out;
  }

  &.menu--ouvert .topNavLink {
	margin-top: 42rem;

  }
}
