.erreur{
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  /*padding: 5rem;
  padding-bottom: 8rem;*/

  &__sousTitre{
    color: $bleuRoyal;
    font-size: 10rem;
  }
}

.champ__message-erreur{
  color: red;
}
.erreurInput{
  border: 2px solid red;
  border-radius: 4px;
}