/**
* @author Gabriel Caron <1861095@csfoy.ca>
* @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* LIVRES
* Styles généraux
*/

.filAriane{
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 2rem;
}
.ficheLivre {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  margin-top: 5rem;

  @media (max-width: 900px) {
    display: block;
  }

  &__btnFormatActive{
    background:$bleuRoyal!important;
    color: white;
  }

  &__btnFormat{
    border-radius: 1rem;
    padding:1rem;
    background: none;
    border: 3px solid $bleuRoyal;
    width: 32%;
  }


  &__auteur{
    color: $bleuRoyal!important;
    font-size: 20px!important;
  }

  &__categorie{
    padding: 1rem;
    border: 1px solid $gris90;
  }

  &__flexNomPrix{
  display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 900px) {
      display: block;
    }
  }
  &__lien {
	grid-column: span 4;
	text-decoration: none;
  }
  &__titre {
	font-size: 2.5rem;
  }
  &__conteneur1{
    width: 45%;
    max-width: 550px;

    @media (min-width: 1000px) {
      margin-right: 5rem;
    }


    img{
      width: 100%;
      max-height: 100%;
      object-fit: cover;
      @media (max-width: 900px) {
        height: 50%;
        object-fit: cover;

      }

    }
    @media (max-width: 900px) {
      width: 80%;
      margin: 0 auto;
    }
  }
  &__conteneur2{
    width: 60%;

    @media (max-width: 900px) {
      width: 80%;
      margin: 0 auto;
    }
  }
  &__title{
    margin: 0!important;
  }
  &__prixCan{
    font-size: 3rem;
  }
  &__prixEuro{
    font-size: 2rem;
  }
  &__ajoutInput{
    width: 30px;
    text-align: center;
    height: 50px;
    border: 2px solid $bleuRoyal;
    color: $bleuRoyal;
  }
  &__ajoutQuantite{
    display: flex;
    justify-content: flex-start;
    width: 115px;
    margin-right: 2rem;
    margin-bottom: 2rem;

    @media (max-width:900px) {
      margin: 0 auto;

    }
  }
  &__statut{
    background: $bleuRoyal;
    margin: 0;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 2rem;
  }
  &__ajout{
    margin-top: 5rem;

    @media (max-width: 900px) {
      display: block;
    }
  }
  &__panierImg{
    background: url("../images/panier-achat.png");
    display: flex;
    position: absolute;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
  }
  &__ajoutPanierBtn{
    width: 250px;
    position: relative;
    border-radius: 10px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border: 2px solid $bleuRoyal;
    background: $bleuRoyal;
    color: white;
    padding-left: 2rem;

    @media (max-width: 900px) {
      margin-top: 2rem;
    }
  }
}
.minus-btn{
  width: 38px;
  height: 50px;
  border-radius: 10px 0 0 10px;
}
.plus-btn{
  width: 38px;
  height: 50px;
  border-radius: 0 10px 10px 0;
}
.btnQuantite{
  background: $bleuRoyal;
  border: 2px solid $bleuRoyal;
  color: white;
  font-size: 2rem;
}

.informations{
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;

  &__table{
    width: 100%;
    text-align: left;

    &Row{
      height: 5rem;

      &:nth-child(2n){
        background: rgb(0,80,200,0.1);
      }

      @media (max-width: 800px) {
        display: grid;
        height: 8rem;
      }
    }
    &Column:first-child{
        font-weight: bold;
    }
  }
}

  .ficheLivre{
    &__productImage img, &__.imageList img {
      width: 100%;
    }

    &__productImage {
      display: block;
      img {
        height: 100%;
        @media (max-width: 800px) {
          height: 500px;
        }

        &.active {
          display: block;
          margin: 0 0 0.75rem 0;
        }
      }
    }
    &__imageList {
      display: flex;
      overflow: hidden;
      li {
        margin: 0 0.75rem 0 0;

        &:nth-child(4) {
          margin: 0;
        }
      }
      img {
        height: 20rem;
        width: 100%;
        transition: opacity 0.3s ease;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

@keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bloc .libelle, .ficheLivre__ajoutPanierBtn {
  transition: all .3s ease-out;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
    transform: translate(0, -5px);
  }
}