/**
* @author Nicolas Thibault
* @version 1.0
*
* ------------------
* FICHE D'UN ARTISTE
* ------------------
*
*/

.auteur{
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  margin-top: 5rem;
  margin-bottom: 10rem;

  @media (max-width: 900px) {
    display: block;
  }

  &__nom {
    margin-top: 0!important;
    margin-bottom: 1rem!important;
  }
  &__conteneur1{
    width: 45%;
    max-width: 550px;

    @media (min-width: 1000px) {
      margin-right: 5rem;
    }


    img{
      width: 100%;
      max-height: 100%;
      object-fit: cover;
      @media (max-width: 900px) {
        height: 50%;
        object-fit: cover;

      }

    }
    @media (max-width: 900px) {
      width: 80%;
      margin: 0 auto;
    }
  }
  &__conteneur2{
    width: 60%;

    @media (max-width: 900px) {
      width: 80%;
      margin: 0 auto;
    }
  }

  &__decouvrirLivre{
    max-width: 70%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    @media (max-width: 1200px) {
      max-width: 90%;
    }

    &Con {
      float: left;
      width: 100%;
      padding: 5px;


      @media (min-width: 500px) {
        width: 50% !important;
      }
      @media (min-width: 720px) {
        width: 33% !important;
      }
      @media (min-width: 900px) {
        width: 25% !important;
      }
    }

      &Card{
        background-color: white;
        border-radius: 5px;
        border: 1px solid #ccc;
        border-bottom: 2px solid #ccc;
        width: 100%;

        @media (max-width: 500px) {
          width: 250px!important;
          margin: 0 auto!important;
        }

        img{
          max-width: 100%;
          width: 100%;
        }

      }
    &Conteneur{
      width: 100%;

      &:after{
        content: "";
        display: table;
        clear: both;
      }
    }
  }
}
.artiste {

  &.conteneurGrille {

    @include rangeeGrid12col($pointRupture: 500px);

  }

  &__lien {

    @media screen and (min-width: 500px) {
      grid-column: span 6;
    }
    @media screen and (min-width: $tablet900px) {
      grid-column: span 3;
    }
    text-decoration: none;
    filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.1));

    &:hover {
      @media screen and (min-width: $tablet900px) {
        .livre__conteneurVignette {
          position: relative; // pour les besoins du hover
          top: -2rem;
        }
      }
    }
  }
}
.artistes .filAriane{
  padding-bottom: 2rem;
}
