/**
* @author Gabriel Caron <1861095@csfoy.ca>
* @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* LIVRES
* Styles généraux
*/

// Par défaut, le mode d'affichage est en vignettes

// Rangée de livres

.livres {
  @include paddingConteneur;


  @media screen and (min-width: 500px) {
	@include conteneur1400px($pointRupture: 500px, $largeurMax: 460px);
  }

  @media screen and (min-width: 600px) {
	@include conteneur1400px($pointRupture: 500px, $largeurMax: 560px);
  }

  @media screen and (min-width: $tablet900px) {
	@include conteneur1400px($pointRupture: 500px, $largeurMax: 860px);
  }

  @media screen and (min-width: 1100px) {
	@include conteneur1400px($pointRupture: 500px, $largeurMax: 1040px);
  }

  @media screen and (min-width: 1200px) {
	@include conteneur1400px($pointRupture: 500px, $largeurMax: 1140px);
  }

  @media screen and (min-width: $desktop1400px) {
	@include conteneur1400px($pointRupture: 500px);
  }

  .livre {

	&.conteneurGrille {

	  @include rangeeGrid12col($pointRupture: 500px);

	}

	&__lien {

	  @media screen and (min-width: 500px) {
		grid-column: span 6;
	  }
	  @media screen and (min-width: $tablet900px) {
		grid-column: span 4;
	  }
	  text-decoration: none;
	  filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.1));

	  &:hover {
		@media screen and (min-width: $tablet900px) {
		  .livre__conteneurVignette {
			position: relative; // pour les besoins du hover
			top: -2rem;
		  }
		}

		.livre__categorie {
		  background-color: $bleuRoyal;
		  color: $blanc;
		  border: 2px solid $bleuRoyal;
		}
	  }
	}

	&__article {
	  margin-bottom: 5rem;
	}

	&__image {
	  border-radius: $arrondiDecoratif;

	  &.etiquette {
		border-radius: $arrondiDecoratif $arrondiDecoratif 0 0;
	  }
	}

	&__etiquette {
	  background-color: $bleuRoyal;
	  margin: 0;
	  padding: 1rem;
	  text-align: center;
	  color: $blanc;
	  border-radius: 0 0 $arrondiDecoratif $arrondiDecoratif;
	}

	&__conteneurVignette {
	  position: relative; // pour les besoins du hover
	  top: 0;

	  @media screen and (min-width: 500px) {
		height: 37rem;
		display: flex;
		flex-direction: column;
		justify-content: end;
		transition: top 0.2s ease-in;
	  }

	  @media screen and (min-width: 600px) {
		height: 40rem;
	  }

	  @media screen and (min-width: $tablet900px) {
		height: 45rem;
	  }

	  @media screen and (min-width: 1100px) {
		height: 53rem;
	  }

	  @media screen and (min-width: 1200px) {
		height: 58rem;
	  }

	  @media screen and (min-width: $desktop1400px) {
		height: 63rem;
	  }
	}

	&__titre {
	  font-size: 3rem;
	  line-height: 110%;
	  color: $bleuRoyal;
	  margin-top: 2rem;
	}

	&__listeInfos {
	  list-style-type: none;
	  padding: 0;
	  margin: 0;
	}

	&__auteur {
	  font-size: 2.5rem;
	  color: $noir;
	}

	&__categorie {
	  font-size: 1.6rem;
	  color: $noir;
	  border: 2px solid $gris90;
	  padding: 0.9rem;
	  margin-top: 1rem;
	  display: inline-block;
	}
  }
}

.modeliste.livres {
  .livre {
	&__lien {

	  @media screen and (min-width: 500px) {
		grid-column: 1 / 12;
	  }

	  @media screen and (min-width: $tablet900px) {
		& .livre__conteneurVignette {
		  position: relative;
		  top: 0;
		  transition: top 0.2s ease-in;

		  // Annulation du positionnement par vignettes
		  height: initial;
		  display: initial;
		  flex-direction: initial;
		  justify-content: initial;
		}
	  }
	}

	&__article {
	  @include rangeeGrid12col();
	}

	&__conteneurVignette {
	  height: initial;
	  grid-column: span 4;

	  @media screen and (min-width: $tablet900px) {
		grid-column: span 2;
	  }
	}

	&__conteneurTitreInfos {
	  grid-column: span 8;

	  @media screen and (min-width: $tablet900px) {
		grid-column: span 10;
	  }
	}

	&__titre {
	  font-size: 4rem;
	  margin-top: initial;
	}
  }
}


