/**
* @author Gabriel Caron <1861095@csfoy.ca>
* @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* LIVRES
* Styles généraux
*/

// Par défaut, le mode d'affichage est en vignettes

// Rangée de livres

.livres {
  @include paddingConteneur;
  @include conteneur1400px($pointRupture: 500px);

  .livre {

	&.conteneurGrille {
	  @include rangeeGrid12col($pointRupture: 500px);
	}

	&__lien {

	  @media screen and (min-width: 500px) {
		grid-column: span 6;
	  }
	  @media screen and (min-width: $tablet900px) {
		grid-column: span 4;
	  }
	  text-decoration: none;
	  filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.1));

	  @media screen and (min-width: $tablet900px) {
		& .livre__conteneurVignette {
		  position: relative;
		  top: 0;
		  transition: top 0.2s ease-in;
		}
	  }

	  &:hover {
		@media screen and (min-width: $tablet900px) {
		  .livre__conteneurVignette {
			position: relative; // pour les besoins du hover
			top: -2rem;
		  }
		}

		.livre__categorie {
		  background-color: $bleuRoyal;
		  color: $blanc;
		  border: 2px solid $bleuRoyal;
		}
	  }
	}

	&__article {
	  margin-bottom: 5rem;
	}

	&__image {
	  border-radius: $arrondiDecoratif;

	  &.etiquette {
		border-radius: $arrondiDecoratif $arrondiDecoratif 0 0;
	  }
	}

	&__etiquette {
	  background-color: $bleuRoyal;
	  margin: 0;
	  padding: 1rem;
	  text-align: center;
	  color: $blanc;
	  border-radius: 0 0 $arrondiDecoratif $arrondiDecoratif;
	}

	&__conteneurTitreInfos {
	  height: 17rem;
	}

	&__titre {
	  font-size: 3rem;
	  line-height: 110%;
	  color: $bleuRoyal;
	  margin-top: 2rem;
	}

	&__listeInfos {
	  list-style-type: none;
	  padding: 0;
	  margin: 0;
	}

	&__auteur {
	  font-size: 2.5rem;
	  color: $noir;
	}

	&__categorie {
	  font-size: 1.6rem;
	  color: $noir;
	  border: 2px solid $gris90;
	  padding: 0.9rem;
	  margin-top: 1rem;
	  display: inline-block;
	}
  }
}

.modeliste.livres {
  .livre {
	&__lien {

	  @media screen and (min-width: 500px) {
		grid-column: 1 / 12;
	  }

	  @media screen and (min-width: $tablet900px) {
		& .livre__conteneurVignette {
		  position: relative;
		  top: 0;
		  transition: top 0.2s ease-in;
		}
	  }
	}

	&__article {
	  @include rangeeGrid12col();
	}

	&__conteneurVignette {
	  grid-column: span 4;

	  @media screen and (min-width: $tablet900px) {
		grid-column: span 2;
	  }
	}

	&__conteneurTitreInfos {
	  grid-column: span 8;

	  @media screen and (min-width: $tablet900px) {
		grid-column: span 10;
	  }
	}

	&__titre {
	  font-size: 4rem;
	  margin-top: initial;
	}
  }
}


