/**
* @author nicolas thibault nicolasthibaulthotmail.ca
* @creer la section menu principal
*/
/* Bouton du menu */

.menu {
  list-style: none;
  margin: 0;
  padding: 0 0 5rem 0;

  @media (max-width: 1000px - 1) {
	text-align: right;
	height: auto;
	width: 100%;
	position: absolute;
	z-index: 1000;
	padding: 0;
  }

  @media screen and (min-width: $desktop1000px) {
	@include paddingConteneur;
  }
	&__flex{
		display: grid;

		&Ferme{
			font-size: 16px;
		}
		&Ouvert{
			font-size: 16px;
			color: black!important;
		}
	}

  &__libelle {
	font-size: 35px;
	color: $bleuRoyal;
  }

  &__entete {
	@include rangeeFlex;
	flex-wrap: wrap;
	padding-top: 3rem;
	position: relative; // Pour positionner le menu mobile seulement

	@media screen and (min-width: $mobile600px) {
	  padding-bottom: 3rem;
	}

	@media screen and (min-width: $desktop1000px) {
	  padding-top: 7rem;
	}
  }

  &__topNavEntete {
	flex-basis: 100%;
	@include paddingConteneur;
	@include rangeeFlex;
	align-items: center;
	flex-wrap: wrap;

	&Logo {
	  display: inline-block;
	  width: 25rem;
		@media (max-width: 350px) {
			width: 60%;
		}

	  @media screen and (min-width: $mobile600px) {
		width: 30rem;
	  }

	  @media screen and (min-width: $desktop1000px) {
		width: 35rem;
	  }
	}
  }

  &Top {
	&__lien {
	  font-family: $RobotoMedium;
	}
  }

  &__controle {
	z-index: 100;
	border: none;
	background: none;
	position: relative;
	padding-right: 2rem;
	@media (min-width: 1000px) {
	  display: none;
	  padding-right: initial;
	}

	&:hover,
	&:active {

	}

	&:focus {
	  	outline-offset: -5px;
		background: none!important;
		border: none!important;
	}
  }

  &__liste {
	@include rangeeFlex;
	justify-content: start;
	flex-wrap: wrap;
	margin: 2rem 0 0 0;
	padding: 0;
	list-style: none;
	max-height: none;

	@media (max-width: $desktop1000px - 1) {
	  display: block;
	}

	&Item {
	  background-color: $blanc;
	  border-bottom: 5px solid $bleuRoyal;

	  @media (max-width: $desktop1000px - 1) {
		&:nth-child(1) {
		  border-top: 5px solid $bleuRoyal;
		}
	  }

	  @media (min-width: $desktop1000px) {
		display: inline-block;
		border-bottom: 5px solid transparent;
		background-color: initial;
	  }
	}

	&Element {
	  ul {
		list-style: none;
		display: flex;
	  }
	}

  }


  &__lien {
	color: $noir;
	font-family: $RobotoMedium;
	font-size: 2rem;
	text-decoration: none;
	display: inline-block;
	padding: 1rem 2rem 0.3em 2rem;
	width: 100%;
	border-bottom: 5px solid transparent;

	@media screen and (min-width: $mobile600px) {
	  margin-right: 3rem;
	}

	@media screen and (min-width: $desktop1000px) {
	  width: initial;
	  padding: initial;
	}

	@media screen and (min-width: 1150px) {
	  font-size: 2.5rem;
	}

	@media screen and (min-width: $desktop1400px + 50) {
	  margin-right: 4rem;
	  font-size: 3rem;
	}

	&:link,
	&:visited {

	}

	&:hover,
	&:active {
	  background-color: $bleuRoyal;
	  color: $blanc;

	  @media screen and (min-width: $desktop1000px) {
		border-bottom: 5px solid $bleuRoyal;
		background-color: initial;
		color: initial;
	  }
	  transition: 0.3s;
	}

	&:focus {

	}

	&--actif {

	  border-bottom: 5px solid $bleuRoyal;
	}
  }

}

.activeMenuItem {
  border-bottom: 3px solid $bleuRoyal;
  @media (max-width: 1000px - 1) {
	background: $bleuRoyal;
	border-bottom: 0;
	a {
	  color: white !important;
	}
  }

}

header {
  background-color: white;

}

.topNavLink {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 100%;
  list-style: none;
  gap: 2rem;

	@media (max-width: 350px) {
		display: flex;
		justify-content: end;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 3rem;
		margin-top: 6rem;
		flex-basis: 100%;
		list-style: none;
		gap: 2rem;
	}
	@media (max-width: 1000px) {
		margin-top: 2rem;
	}
  @media screen and (min-width: $desktop1000px) {
	flex-basis: initial;
  }
}

#recherche {
  width: 150px;
  color: black;
  font-size: 16px;

  @media (max-width: 600px - 1) {
	width: 100%;
  }
}

.fa {
  display: inline-block;
  font: normal normal normal 14 px/1 FontAwesome;
  font-size: 25px !important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.user{
	display: flex!important;
}

/* Si le javascript est activé */

/* Pour des raisons d'accessibilité, on ne cache le menu mobile
 * que si Javascript est activé. De cette façon, s'il est désactivé,
 * le menu restera tout de même visible à l'utilisateur.
 */

.js .menu__liste {
  max-height: 100vh;
  overflow: hidden;
  transition: max-height 0.5s;
  text-align: left;
}

.js .menu--ferme .menu__liste {
  max-height: 0;
  @media (min-width: 1000px) {
	max-height: none;
  }
}
