/**
* @author Michel Veillette
* @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* PANIER
* Conteneurs généraux des grilles
* Section des articles (livres)
* Section du sous-total
* Confirmation de la commande
*
*/

.panier {

  /* Conteneurs généraux des grilles */

  @include paddingConteneur();
  @include conteneur1400px();

  /* Section du résumé */

  &__sectionResume {
	@include rangeeGrid12col();


	&SousTotal {
	  background-color: $bleuPoudre;
	  grid-column: 4 / 10;
	  padding: 3rem 3rem 1rem 3rem;
	}

	&Livraison {
	  background-color: $bleuPoudre;
	  grid-column: 4 / 10;
	  padding: 0 3rem 3rem 3rem;
	}

  }

  /* Section des articles (livres) */

  &__sectionArticles {
	@include rangeeGrid12col();
  }

  &__article {
	grid-column: span 13;
	@include rangeeGrid12col();
	padding: 3rem 0;

	& .livre {
	  &__picture {
		grid-column: 2 / 3;
	  }
	}

	&Infos {
	  grid-column: 3 / 7;

	  &Titre {
		font-size: 4rem;
	  }
	}

	&Quantite {
	  grid-column: 7 / 12;
	  @include rangeeFlex;
	}

	&Retirer {
	  grid-column: 2 / 5;
	  margin: 2rem 0;
	}
  }

  /* Section du sous-total */

  &__tableauSousTotal {
	grid-column: 9 / 13;
	margin-bottom: 2rem;
  }

  &__continuerAchats {
	grid-column: 7 / 10;
	align-self: center;
  }

  &__passerCommande {
	grid-column: 10 / 13;
	& > button {
	  background-color: transparent;
	}
  }
}

/* Confirmation de la commande */

.confirmation {
  & .entete {
	background: initial;

	&__conteneurLogo {
	  @include rangeeGrid12col();
	  @include paddingConteneur;
	}

	&__logo {
	  grid-column: 4 / 7;
	  padding-top: 7rem;
	  padding-bottom: 8rem;
	}
  }

  &.contenu {
	@include conteneur1400px();
	@include paddingConteneur;
  }

  &__conteneurGrille {
	@include rangeeGrid12col();

	& > * {
	  grid-column: 4 / 10;
	}
  }

  &__titreH1 {
	font-size: 3.5rem;

	&::before {
	  display: inline-block;
	  content: "";
	  background-image: url(../images/icones/crochet--confirmation.svg);
	  background-repeat: no-repeat;
	  height: 4rem;
	  width: 4rem;
	  vertical-align: text-bottom;
	  margin-right: 1rem;
	}
  }

  &__titreH2 {
	font-size: 2.5rem;
	margin: 2rem 0 0.5rem 0;
  }

  & .merci p {
	margin: 1rem 0;
  }

  & .validationAdresseLivraison {
	background-color: #F8FBFF;
	padding: 2rem 5rem 4rem 5rem;
	margin: 2rem 0;
  }

  & .panier {
	&__article {
	  & .livre {
		&__picture {
		  grid-column: 1 / 3;
		}
	  }

	  &InfosTitre {
		font-size: 2.5rem;
	  }

	  &Infos {
		grid-column: 3 / 13;
	  }
	}

	&__tableauSousTotal {
	  @include rangeeGrid12col();
	  & > * {
		grid-column: span 12;
	  }
	}
  }

  & .footer {
	@include conteneur1400px();

	&__transaction {
	  @include rangeeGrid12col();

	  & > * {
		grid-column: 4 / 10;
	  }
	}
  }
}




