/* Pied de page*/
.footer {
  background: $bleuRoyal;
  color: white;
  margin-top: 4rem;

  &__conteneurGrille {
    @include conteneur1400px();
  }


  &__infosTitle{
    margin-top: 0!important;
  }
  &__infos {
    margin-top: 5rem;

    &Liste:first-child{
      @media (min-width: 860px) {
        margin-right: 5rem;
      }
    }

    &Flex{
      @media (min-width: 860px) {
        display: flex;
        justify-content: flex-start;
      }
    }

    &Texte{
      @media (max-width: 860px) {
        text-align: center;
      }
    }

    &Logo{
      display: block;
      @media (max-width: 860px) {
        display: flex;
        justify-content: center;
      }
    }

    &Liste{
      list-style: none;
      padding: 0;
    }
    &Copyright{
      text-align: center;
      font-size: 12px;
      padding-bottom: 2rem;
    }
  }
}

//Menu secondaire

.menuSec {
  list-style:none;
  padding:0;
  text-align:center;

  &__conteneurGrille {
    @include conteneur1400px();
  }

  &__logo {
    width: 30rem;
    & .logotype {
      fill: $blanc;
    }
  }

  &__liste {
    margin: 3rem 0 0 0;
    display: flex;
    padding: 0;
    list-style: none;
    max-height: none;
    justify-content: space-between;

    @media (max-width: 860px) {
      display: block;

    }

    &Item{
      //border-bottom: 5px solid $blanc;

      @media (min-width: 860px) {
        display: inline-block;

      }
    }
  }
  &__lien {
    font-family: $RobotoMedium;
    font-size: 2rem;
    text-decoration: none;
    font-weight: inherit;
    color: $blanc;
    width: 100%;
    display:inline-block;
    text-align: left;
    border-bottom: 5px solid transparent;
    transition: all .3s ease-out;

    @media screen and (min-width: 1150px) {
      font-size: 2.5rem;
    }

    @media screen and (min-width: $desktop1400px + 50) {
      font-size: 3rem;
    }

    &:link,
    &:visited {

    }

    &:hover,
    &:active {
      border-bottom: 5px solid white;
      transition: 0.3s;
    }
    &:focus {

    }
    &--actif {
      border-bottom: 5px solid white;
    }
  }
}
footer h5{
  margin-bottom: 1rem!important;
}
