/**
* @author Michel Veillette
* @author Gabriel Caron
* @version 1.0
*
* ------------------
* FORMULAIRE DE LA TRANSACTION
* ------------------
* Conteneurs et styles généraux
* Fieldset d'une étape
* Icône du numéro et titre de l'étape
* Section dans un fieldset
* Sous-sections dans un fieldset
* Cas particuliers
*
*/
.stepleft {

  /* Conteneurs et styles généraux */

  & .entete {
	background: initial;

	&__conteneurLogo {
	  @include rangeeGrid12col();
	  @include paddingConteneur;
	}

	&__logo {
	  grid-column: 3 / 6;
	  padding-top: 7rem;
	  padding-bottom: 8rem;
	}
  }

  & .formulaireCommande {
	@include conteneur1400px($conteneurBleed: true);

	&__conteneurGrille {
	  @include rangeeGrid12col();

	  @media screen and (min-width: $mobile600px) {
		& > * {
		  grid-column: 1 / 13;
		}
	  }

	  @media screen and (min-width: $tablet900px) {
		& > * {
		  grid-column: 3 / 11;
		}
	  }
	}

	&__titreEtape {
	  display: inline-block;
	  margin: 0; // Évite un désalignement de l'icône qui identifie l'étape
	  font-family: $RobotoMedium;
	  font-size: 4rem;
	  color: $gris50AA;

	  @media screen and (min-width: $mobile600px) {
		font-size: 5.5rem;
	  }
	}

	& .bouton {
	  margin: 3rem 0;
	}

	/* Fieldset d'une étape */

	&__etape {
	  @include rangeeGrid12col($nombreColonnes: 8);
	  border: 0;
	  border-top: 5px solid $gris90;
	  padding: 3rem 2rem;
	  margin: 0;

	  @media screen and (min-width: $mobile600px) {
		padding: 3rem 0;
	  }

	  &::before {
		display: inline-block;
		content: "";
		background-repeat: no-repeat;
		margin: 0 0.5rem 0 0;
		height: 4rem;
		width: 4rem;

		vertical-align: top;

		@media screen and (min-width: $mobile600px) {
		  margin: 0 0 0 3rem;
		  height: 5.5rem;
		  width: 5.5rem;
		}
	  }

	  /* Icône du numéro et titre de l'étape */

	  &.courante, &.complete {
		& .formulaireCommande {
		  &__titreEtape {
			color: $noir;
		  }
		}
	  }

	  &.etape1 {
		&::before {
		  background-image: url(../images/icones/etape1.svg);
		}
		&.courante {
		  &::before {
			background-image: url(../images/icones/etape1--courante.svg);
		  }
		}
	  }

	  &.etape2 {
		&::before {
		  background-image: url(../images/icones/etape2.svg);
		}
		&.courante {
		  &::before {
			background-image: url(../images/icones/etape2--courante.svg);
		  }
		}
	  }

	  &.etape3 {
		&::before {
		  background-image: url(../images/icones/etape3.svg);
		}
		&.courante {
		  &::before {
			background-image: url(../images/icones/etape3--courante.svg);
		  }
		}
	  }

	  &.complete {
		background-color: $bleuPoudre;
		&::before {
		  background-image: url(../images/icones/etape--complete.svg);
		}
	  }

	  /* Section dans un fieldset */

	  & .sectionFormulaire {
		grid-column: 2 / 8;

		/* Sous-sections dans un fieldset */

		&__sectionForm {
		  @include rangeeGrid12col($nombreColonnes: 6);
		  margin: 1rem 0;

		  &H3 {
			font-family: $RobotoMedium;
			font-size: 2.5rem;
			margin: 2rem 0 1rem 0;
		  }
		}

		&__sectionIdentification {
		  & > * {
		      grid-column: span 12;
		  }
		}

		/* Cas particuliers */

		& .sectionRecapAdresseLivraison {
		  grid-column: span 6;
		}

		& .sectionAnciennesAdressesLivraisons {
		  grid-column: span 6;
		  & > * {
			grid-column: 1 / 7;
		  }
		}
		  & .boutonActive {
			  grid-column: 1/5;
		  }
		  & .champ__flex {
			  display: flex;
			  justify-content: center;
		  }
		  & .separateur {
			  padding: 0 10px;
		  }
	  }
	}
  }
}
