/**
* @author Michel Veillette
* @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* Step-Left
*
*/
.stepleft {
  /* Conteneurs généraux des grilles */

  & .entete {
	background: initial;

	&__conteneurLogo {
	  @include rangeeGrid12col();
	  @include paddingConteneur;
	}

	&__logo {
	  grid-column: 4 / 7;
	  padding-top: 7rem;
	  padding-bottom: 8rem;
	}
  }

  & .formulaireCommande {
	@include conteneur1400px();
	@include paddingConteneur;

	&__conteneurGrille {
	  @include rangeeGrid12col();

	  & > * {
		grid-column: 3 / 11;
	  }
	}

	&__titreEtape {
	  display: inline-block;
	  margin: 0; // Évite un désalignement de l'icône qui identifie l'étape
	}

	& .bouton {
	  margin: 3rem 0;
	}

	// Fieldset d'une étape
	&__etape {
	  @include rangeeGrid12col($nombreColonnes: 8);
	  border: 0;
	  border-top: 5px solid $gris90;
	  padding: 3rem 0;
	  margin: 0;

	  &::before {
		display: inline-block;
		content: "";
		background-repeat: no-repeat;
		height: 5.5rem;
		width: 5.5rem;
		margin: 0 0 0 4rem;
		vertical-align: top;
	  }

	  // Icônes du numéro d'étape devant le titre

	  &.etape1 {
		&::before {
		  background-image: url(../images/icones/etape1.svg);
		}
		&.courante {
		  &::before {
			background-image: url(../images/icones/etape1--courante.svg);
		  }
		}
	  }

	  &.etape2 {
		&::before {
		  background-image: url(../images/icones/etape2.svg);
		}
		&.courante {
		  &::before {
			background-image: url(../images/icones/etape2--courante.svg);
		  }
		}
	  }

	  &.etape3 {
		&::before {
		  background-image: url(../images/icones/etape3.svg);
		}
		&.courante {
		  &::before {
			background-image: url(../images/icones/etape3--courante.svg);
		  }
		}
	  }

	  &.complete {
		&::before {
		  background-image: url(../images/icones/etape--complete.svg);
		}
	  }

	  // Section dans un fieldset
	  & .sectionFormulaire {
		grid-column: 2 / 8;

		// Sous-sections
		&__sectionForm {
		  @include rangeeGrid12col($nombreColonnes: 6);
		  margin: 1rem 0;

		  &H3 {
			font-family: $RobotoMedium;
			font-size: 2.5rem;
			margin: 2rem 0 1rem 0;
		  }
		}

		&__sectionIdentification {
		  & > * {
		      grid-column: span 12;
		  }
		}

		// Cas particuliers

		& .sectionRecapAdresseLivraison {
		  grid-column: span 6;
		}

		& .sectionAnciennesAdressesLivraisons {
		  grid-column: span 6;
		  & > * {
			grid-column: 1 / 7;
		  }
		}
	  }
	}
  }

  & .footer {
	@include conteneur1400px();

	&__transaction {
	  @include rangeeGrid12col();

	  & > * {
		grid-column: 4 / 10;
	  }
	}
  }
}
