@charset "UTF-8";
/**
 * @author Michel Veillette
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------

 * Librairies
   ** Normalize

 * UTILITAIRES
   ** Variables - Définitions des varialbles
   ** Mixins - Définitions des mixins

 * BASE
   ** Typographie - Styles généraux de la typographie
   ** Hyperliens - Styles généraux des hyperliens
   ** Boutons - Styles généraux des boutons

 * MODULES
   ** PiedDePage - Styles du pied de page
   ** Entete - Styles de l'entête
   ** Navigation - Styles de la barre de navigation
   ** MenuBase - Styles du menu de base

 * LAYOUT
   ** Formulaire - Formulaire du site

 */
/****** Librairies ******/
/** Normalize **/
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url(http://fonts.googleapis.com/css?family=Montserrat);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**** UTILITAIRES ****/
/** Variables - Définitions des varialbles **/
/**
 * @author Gabriel Caron <1861095@csfoy.ca>
 * @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* VARIABLES
* PALETTES DE COULEURS
** Couleurs de base
** Autres couleurs
* POINTS DE RUPTURE
*/
/** Palette de couleurs **/
/* Couleurs de base AAA */
/* Polices */
/** Points de rupture **/
/** Mixins - Définitions des mixins **/
/**
* @author Gabriel Caron - 1861095@csfoy.ca
* @version 2.5
*
* ------------------
* TABLE DES MATIERES
* ------------------
* UTILITAIRES DE BASE
** Box sizing
* ACCESSIBILITÉ
** Visually hidden/screen reader only
** Lien sauter au contenu
* GRILLE DE BASE
* Mixin pour conteneur parent en Grid ou Flex
* Mixin pour rangée Grid sur 12 colonnes
* Mixin pour rangée Flex par défaut
* Mixin pour le padding de base
*/
/***** Utilitaires de base *****/
/** Box sizing **/
/***** Accessibilité *****/
.visuallyhidden,
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus,
.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.sauter-contenu {
  display: block;
  padding: 0 3rem;
  line-height: 5rem;
  color: #000;
  background-color: #0050C8;
  text-align: center;
}

/***** Grille de base *****/
/****** BASE ******/
/** Typographie - Styles généraux de la typographie **/
/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 5.1
*
* ------------------
* TABLE DES MATIERES
* ------------------
* Polices
*/
/* Polices */
@font-face {
  font-family: Roboto-Regular;
  src: url(../../liaisons/polices/roboto-regular.woff2) format("woff2"), url(../../liaisons/polices/roboto-regular.woff) format("woff"), url(../../liaisons/polices/roboto-regular.ttf) format("truetype");
}
@font-face {
  font-family: Roboto-Italic;
  src: url(../../liaisons/polices/roboto-italic.woff2) format("woff2"), url(../../liaisons/polices/roboto-italic.woff) format("woff"), url(../../liaisons/polices/roboto-italic.ttf) format("truetype");
}
@font-face {
  font-family: Roboto-Medium;
  src: url(../../liaisons/polices/roboto-medium.woff2) format("woff2"), url(../../liaisons/polices/roboto-medium.woff) format("woff"), url(../../liaisons/polices/roboto-medium.ttf) format("truetype");
}
@font-face {
  font-family: Roboto-MediumItalic;
  src: url(../../liaisons/polices/roboto-mediumItalic.woff2) format("woff2"), url(../../liaisons/polices/roboto-mediumItalic.woff) format("woff"), url(../../liaisons/polices/roboto-mediumItalic.ttf) format("truetype");
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../../liaisons/polices/roboto-bold.woff2) format("woff2"), url(../../liaisons/polices/roboto-bold.woff) format("woff"), url(../../liaisons/polices/roboto-bold.ttf) format("truetype");
}
@font-face {
  font-family: Roboto-BoldItalic;
  src: url(../../liaisons/polices/roboto-boldItalic.woff2) format("woff2"), url(../../liaisons/polices/roboto-boldItalic.woff) format("woff"), url(../../liaisons/polices/roboto-boldItalic.ttf) format("truetype");
}
h1, h2, h3, h4, h5, h6 {
  font-family: Roboto-Medium, sans serif;
  font-weight: normal;
  line-height: 100%;
  letter-spacing: 0.05rem;
}

h1 {
  font-size: 7.5rem;
}

h2 {
  font-size: 5.5rem;
  font-family: Roboto-Bold, sans serif;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 4.5rem;
  font-family: Roboto-Bold, sans serif;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 3.5rem;
  font-family: Roboto-Bold, sans serif;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 2.5rem;
  font-family: Roboto-Bold, sans serif;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 1.8rem;
  font-family: Roboto-Bold, sans serif;
  margin-bottom: 0.5rem;
}

body {
  font-family: Roboto-Regular, sans serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

/** Hyperliens - Styles généraux des hyperliens **/
/** Hyperliens **/
/**
* @author Philippe Grenier philippegrenier99@gmail.com
* @todo Compléter selon l'énoncé de l'exercice
*/
.hyperlien {
  color: white;
  text-decoration: none;
}

.hyperlien--visited {
  color: #226aa0;
}

.hyperlien--hover {
  text-decoration: underline;
}

.hyperlien--active {
  text-decoration: underline;
}

/** Boutons - Styles généraux des boutons **/
.bouton {
  border-radius: 4px;
  color: #0050C8;
  border: solid 3px #0050C8;
  padding: 0.5em 3em;
  text-decoration: none;
  font-size: 12px;
  background-color: white;
}

.bouton--active {
  background-color: #0050C8;
  border-radius: 4px;
  color: white;
  padding: 0.5em 3em;
  text-decoration: none;
  font-size: 12px;
}

/*.bouton--inverse {
  background-color: white;
  color: $orange;

  border: 2px solid $orange;
}
.bouton--inverse--hover {
  color: $rouge_2;
  border-color: $rouge_2;
}
.bouton--inverse--active {
  color: $rouge_3;
  border-color: $rouge_3;
}*/
/****** MODULES ******/
/** MenuBase - Styles du menu de base **/
/**
* @author nicolas thibault nicolasthibaulthotmail.ca
* @creer la section menu principal
*/
/* Bouton du menu */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  /*
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  */
}
@media (max-width: 1000px) {
  .menu {
    text-align: right;
    height: auto;
  }
}
.menu__libelle {
  font-size: 35px;
}
.menu__entete {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  margin-top: 1rem;
}
.menu__topNavEntete {
  display: flex;
  justify-content: flex-end;
  top: 200px;
}
@media (max-width: 1000px) {
  .menu__topNavEntete {
    position: absolute;
    top: 10rem;
    right: 0;
  }
}
@media (max-width: 600px) {
  .menu__topNavEntete {
    width: 100%;
  }
}
.menu__controle {
  z-index: 100;
  border: none;
  background: none;
}
@media (min-width: 1000px) {
  .menu__controle {
    display: none;
  }
}
.menu__controle:focus {
  outline-offset: -5px;
  outline: white auto 5px;
}
.menu__liste {
  top: 20%;
  margin: 0;
  display: flex;
  padding: 0;
  list-style: none;
  max-height: none;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .menu__liste {
    display: block;
  }
}
@media (min-width: 1000px) {
  .menu__listeItem {
    display: inline-block;
  }
}
.menu__listeElement ul {
  list-style: none;
  display: flex;
}
.menu__listeLogo {
  position: absolute;
  left: 33px;
}
@media (max-width: 1000px) {
  .menu__listeLogo {
    left: 20px;
    top: 10px;
  }
}
.menu__lien {
  color: black;
  font-size: 18px;
  text-decoration: none;
  font-weight: inherit;
  width: 100%;
  display: inline-block;
  padding: 10px;
  text-align: left;
}
.menu__lien:hover, .menu__lien:active {
  border-bottom: 5px solid #0050C8;
  transition: 0.3s;
}
.menu__lien--actif {
  border-bottom: 5px solid #0050C8;
}

.activeMenuItem {
  border-bottom: 5px solid #0050C8;
}

header {
  background-color: white;
}

.topNavLink {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: end;
  flex-direction: row-reverse;
}
@media (max-width: 600px) {
  .topNavLink {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .topNavLink input {
    width: 100%;
  }
}

.entete {
  border-top: 5px solid #0050C8;
  background: #F7F7F7;
  height: 150px;
}
@media (max-width: 1000px) {
  .entete {
    height: auto !important;
    min-height: 200px;
  }
}

#recherche {
  width: 150px;
  color: black;
  font-size: 16px;
}
@media (max-width: 600px) {
  #recherche {
    width: 100%;
  }
}

.fa {
  display: inline-block;
  font: normal normal normal 14 px/1 FontAwesome;
  font-size: 25px !important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Si le javascript est activé */
/* Pour des raisons d'accessibilité, on ne cache le menu mobile
 * que si Javascript est activé. De cette façon, s'il est désactivé,
 * le menu restera tout de même visible à l'utilisateur.
 */
.js .menu__liste {
  max-height: 100vh;
  overflow: hidden;
  transition: max-height 0.5s;
}

.js .menu--ferme .menu__liste {
  max-height: 0;
}
@media (min-width: 1000px) {
  .js .menu--ferme .menu__liste {
    max-height: none;
  }
}

/** menu responsive - Éléments du menu **/
/**
* @author nicolas thibault nicolasthibaulthotmail.ca
* @creer la section menu principal
*/
/* Bouton du menu */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  /*
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  */
}
@media (max-width: 1000px) {
  .menu {
    text-align: right;
    height: auto;
  }
}
.menu__libelle {
  font-size: 35px;
}
.menu__entete {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  margin-top: 1rem;
}
.menu__topNavEntete {
  display: flex;
  justify-content: flex-end;
  top: 200px;
}
@media (max-width: 1000px) {
  .menu__topNavEntete {
    position: absolute;
    top: 10rem;
    right: 0;
  }
}
@media (max-width: 600px) {
  .menu__topNavEntete {
    width: 100%;
  }
}
.menu__controle {
  z-index: 100;
  border: none;
  background: none;
}
@media (min-width: 1000px) {
  .menu__controle {
    display: none;
  }
}
.menu__controle:focus {
  outline-offset: -5px;
  outline: white auto 5px;
}
.menu__liste {
  top: 20%;
  margin: 0;
  display: flex;
  padding: 0;
  list-style: none;
  max-height: none;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .menu__liste {
    display: block;
  }
}
@media (min-width: 1000px) {
  .menu__listeItem {
    display: inline-block;
  }
}
.menu__listeElement ul {
  list-style: none;
  display: flex;
}
.menu__listeLogo {
  position: absolute;
  left: 33px;
}
@media (max-width: 1000px) {
  .menu__listeLogo {
    left: 20px;
    top: 10px;
  }
}
.menu__lien {
  color: black;
  font-size: 18px;
  text-decoration: none;
  font-weight: inherit;
  width: 100%;
  display: inline-block;
  padding: 10px;
  text-align: left;
}
.menu__lien:hover, .menu__lien:active {
  border-bottom: 5px solid #0050C8;
  transition: 0.3s;
}
.menu__lien--actif {
  border-bottom: 5px solid #0050C8;
}

.activeMenuItem {
  border-bottom: 5px solid #0050C8;
}

header {
  background-color: white;
}

.topNavLink {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: end;
  flex-direction: row-reverse;
}
@media (max-width: 600px) {
  .topNavLink {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .topNavLink input {
    width: 100%;
  }
}

.entete {
  border-top: 5px solid #0050C8;
  background: #F7F7F7;
  height: 150px;
}
@media (max-width: 1000px) {
  .entete {
    height: auto !important;
    min-height: 200px;
  }
}

#recherche {
  width: 150px;
  color: black;
  font-size: 16px;
}
@media (max-width: 600px) {
  #recherche {
    width: 100%;
  }
}

.fa {
  display: inline-block;
  font: normal normal normal 14 px/1 FontAwesome;
  font-size: 25px !important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Si le javascript est activé */
/* Pour des raisons d'accessibilité, on ne cache le menu mobile
 * que si Javascript est activé. De cette façon, s'il est désactivé,
 * le menu restera tout de même visible à l'utilisateur.
 */
.js .menu__liste {
  max-height: 100vh;
  overflow: hidden;
  transition: max-height 0.5s;
}

.js .menu--ferme .menu__liste {
  max-height: 0;
}
@media (min-width: 1000px) {
  .js .menu--ferme .menu__liste {
    max-height: none;
  }
}

/** footer **/
/* Pied de page*/
.footer {
  background: #0050C8;
  color: white !important;
  padding-top: 4rem;
}
.footer__infosTitle {
  margin-top: 0 !important;
}
.footer__infos {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 5rem;
}
@media (max-width: 860px) {
  .footer__infos {
    max-width: 80% !important;
    margin: 0 auto;
  }
}
@media (min-width: 860px) {
  .footer__infosListe:first-child {
    margin-right: 5rem;
  }
}
@media (min-width: 860px) {
  .footer__infosFlex {
    display: flex;
    justify-content: flex-start;
  }
}
@media (max-width: 860px) {
  .footer__infosTexte {
    text-align: center;
  }
}
.footer__infosLogo {
  display: block;
}
@media (max-width: 860px) {
  .footer__infosLogo {
    display: flex;
    justify-content: center;
  }
}
.footer__infosListe {
  list-style: none;
  padding: 0;
}
.footer__infosCopyright {
  text-align: center;
  font-size: 12px;
  padding-bottom: 2rem;
}

.menuSec {
  max-width: 70%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  text-align: center;
  /*
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  */
}
@media (max-width: 860px) {
  .menuSec {
    max-width: 80% !important;
    margin: 0 auto;
  }
}
@media (max-width: 1220px) {
  .menuSec {
    max-width: 100%;
  }
}
.menuSec__logo {
  width: 200px;
}
.menuSec__liste {
  top: 20%;
  margin: 0;
  display: flex;
  padding: 0;
  list-style: none;
  max-height: none;
  justify-content: space-between;
}
@media (max-width: 860px) {
  .menuSec__liste {
    display: block;
  }
}
@media (min-width: 860px) {
  .menuSec__listeItem {
    display: inline-block;
  }
}
.menuSec__lien {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: inherit;
  width: 100%;
  display: inline-block;
  padding: 10px;
  text-align: left;
}
.menuSec__lien:hover, .menuSec__lien:active {
  border-bottom: 5px solid white;
  transition: 0.3s;
}
.menuSec__lien--actif {
  border-bottom: 5px solid white;
}

/** Accueil **/
/**
* @author Gabriel Caron <1861095@csfoy.ca>
* @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* ACCUEIL
* Nouveautés
*/
.accueil__titre {
  margin: 9rem 0 4rem 0;
}

.nouveautes, .aparaitre {
  padding-left: 2rem;
  padding-right: 2rem;
}
@supports (grid-template-columns: minmax(auto, 1400px)) {
  @media (min-width: 500px) {
    .nouveautes, .aparaitre {
      display: grid;
      grid-template-columns: minmax(auto, 1400px);
      justify-content: center;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
@supports not (grid-template-columns: minmax(auto, 1400px)) {
  .nouveautes, .aparaitre {
    max-width: 1400px;
  }
}
@supports (grid-template-columns: minmax(auto, 1400px)) {
  @media (min-width: 500px) {
    .nouveautes__conteneurGrille, .aparaitre__conteneurGrille {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
    }
  }
}
@media (min-width: 1000px) {
  .nouveautes__conteneurGrille, .aparaitre__conteneurGrille {
    margin: 0 6rem;
  }
}
@media (min-width: 1400px) {
  .nouveautes__conteneurGrille, .aparaitre__conteneurGrille {
    margin: 0 8rem;
  }
}

.actualites .actualite__lien {
  grid-column: 1/12;
}
@supports (grid-template-columns: minmax(auto, 1400px)) {
  @media (min-width: 600px) {
    .actualites .actualite__article {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
    }
  }
}
.actualites .actualite__image {
  grid-column: span 2;
}
.actualites .actualite__titre {
  grid-column: span 10;
}

/** Fiche Livres **/
/**
* @author Gabriel Caron <1861095@csfoy.ca>
* @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* LIVRES
* Styles généraux
*/
.filAriane {
  max-width: 70%;
  margin: 0 auto;
  padding-top: 2rem;
}

.livre {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .livre {
    max-width: 90%;
  }
}
@media (max-width: 900px) {
  .livre {
    display: block;
  }
}
.livre__categorie {
  padding: 1rem;
  border: 1px solid #E5E5E5;
}
.livre__flexNomPrix {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  .livre__flexNomPrix {
    display: block;
  }
}
.livre__lien {
  grid-column: span 4;
  text-decoration: none;
}
.livre__titre {
  font-size: 2.5rem;
}
.livre__conteneur1 {
  width: 45%;
  max-width: 550px;
}
.livre__conteneur1 img {
  width: 100%;
  max-height: 800px;
  object-fit: cover;
}
@media (max-width: 900px) {
  .livre__conteneur1 img {
    height: 50%;
    object-fit: cover;
  }
}
@media (max-width: 900px) {
  .livre__conteneur1 {
    width: 80%;
    margin: 0 auto;
  }
}
.livre__conteneur2 {
  width: 45%;
}
@media (max-width: 900px) {
  .livre__conteneur2 {
    width: 80%;
    margin: 0 auto;
  }
}
.livre__title {
  font-size: 2rem;
}
.livre__prixCan {
  font-size: 3rem;
}
.livre__prixEuro {
  font-size: 2rem;
}
.livre__ajoutInput {
  width: 30px;
  text-align: center;
  height: 50px;
  border: 2px solid #0050C8;
  color: #0050C8;
}
.livre__ajoutQuantite {
  display: flex;
  justify-content: flex-start;
  width: 115px;
  margin-right: 2rem;
}
@media (max-width: 900px) {
  .livre__ajoutQuantite {
    margin: 0 auto;
  }
}
.livre__statut {
  background: #0050C8;
  margin: 0;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.livre__ajout {
  display: flex;
  margin-top: 5rem;
}
@media (max-width: 900px) {
  .livre__ajout {
    display: block;
  }
}
.livre__panierImg {
  background: url("../images/panier-achat.png");
  display: flex;
  position: absolute;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
}
.livre__ajoutPanierBtn {
  width: 250px;
  position: relative;
  border-radius: 10px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border: 2px solid #0050C8;
  background: #0050C8;
  color: white;
  padding-left: 2rem;
}
@media (max-width: 900px) {
  .livre__ajoutPanierBtn {
    margin-top: 2rem;
  }
}

.minus-btn {
  width: 38px;
  height: 50px;
  border-radius: 10px 0 0 10px;
}

.plus-btn {
  width: 38px;
  height: 50px;
  border-radius: 0 10px 10px 0;
}

.btnQuantite {
  background: #0050C8;
  border: 2px solid #0050C8;
  color: white;
  font-size: 2rem;
}

.informations {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.informations__table {
  width: 100%;
  text-align: left;
}
.informations__tableRow {
  height: 5rem;
}
.informations__tableRow:nth-child(2n) {
  background: rgba(0, 80, 200, 0.1);
}
@media (max-width: 800px) {
  .informations__tableRow {
    display: grid;
    height: 8rem;
  }
}
.informations__tableColumn:first-child {
  font-weight: bold;
}

/** Livres **/
/**
* @author Gabriel Caron <1861095@csfoy.ca>
* @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* LIVRES
* Styles généraux
*/
.livre__lien {
  text-decoration: none;
  filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.1));
}
@media screen and (min-width: 500px) {
  .livre__lien {
    grid-column: span 6;
  }
}
@media screen and (min-width: 900px) {
  .livre__lien {
    grid-column: span 4;
  }
}
@media screen and (min-width: 900px) {
  .livre__lien .livre__conteneurVignette {
    position: relative;
    top: 0;
    transition: top 0.2s ease-in;
  }
}
@media screen and (min-width: 900px) {
  .livre__lien:hover .livre__conteneurVignette {
    position: relative;
    top: -2rem;
  }
}
.livre__lien:hover .livre__categorie {
  background-color: #0050C8;
  color: #fff;
  border: 2px solid #0050C8;
}
.livre__article {
  margin-bottom: 5rem;
}
.livre__image {
  border-radius: 5px;
}
.livre__image.etiquette {
  border-radius: 5px 5px 0 0;
}
.livre__etiquette {
  background-color: #0050C8;
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: #fff;
  border-radius: 0 0 5px 5px;
}
.livre__titre {
  font-size: 3rem;
  color: #0050C8;
  margin-top: 3rem;
}
@media screen and (min-width: 1000px) {
  .livre__titre {
    margin-top: 8rem;
  }
}
.livre__listeInfos {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.livre__auteur {
  font-size: 2.5rem;
  color: #000;
}
.livre__categorie {
  font-size: 1.6rem;
  color: #000;
  border: 2px solid #E5E5E5;
  padding: 0.9rem;
  margin-top: 1rem;
  display: inline-block;
}
.livre__tablette {
  display: none;
}
@media screen and (min-width: 1000px) {
  .livre__tablette {
    display: block;
    position: relative;
    top: -26rem;
  }
}

/** Accueil **/
/**
* @author Gabriel Caron <1861095@csfoy.ca>
* @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* ACCUEIL
* Nouveautés
*/
.accueil__titre {
  margin: 9rem 0 4rem 0;
}

.nouveautes, .aparaitre {
  padding-left: 2rem;
  padding-right: 2rem;
}
@supports (grid-template-columns: minmax(auto, 1400px)) {
  @media (min-width: 500px) {
    .nouveautes, .aparaitre {
      display: grid;
      grid-template-columns: minmax(auto, 1400px);
      justify-content: center;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
@supports not (grid-template-columns: minmax(auto, 1400px)) {
  .nouveautes, .aparaitre {
    max-width: 1400px;
  }
}
@supports (grid-template-columns: minmax(auto, 1400px)) {
  @media (min-width: 500px) {
    .nouveautes__conteneurGrille, .aparaitre__conteneurGrille {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
    }
  }
}
@media (min-width: 1000px) {
  .nouveautes__conteneurGrille, .aparaitre__conteneurGrille {
    margin: 0 6rem;
  }
}
@media (min-width: 1400px) {
  .nouveautes__conteneurGrille, .aparaitre__conteneurGrille {
    margin: 0 8rem;
  }
}

.actualites .actualite__lien {
  grid-column: 1/12;
}
@supports (grid-template-columns: minmax(auto, 1400px)) {
  @media (min-width: 600px) {
    .actualites .actualite__article {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
    }
  }
}
.actualites .actualite__image {
  grid-column: span 2;
}
.actualites .actualite__titre {
  grid-column: span 10;
}

/** Recherche **/
* {
  margin: 0;
  padding: 0;
}

.nav {
  height: 40px;
  display: inline-block;
}

.nav li {
  float: left;
  list-style-type: none;
  position: relative;
}

.nav li a {
  font-size: 16px;
  color: black;
  display: block;
  line-height: 40px;
  padding: 0 26px;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

#settings a {
  padding: 18px;
  height: 24px;
  font-size: 10px;
  line-height: 24px;
}

#search {
  display: flex;
}

#search_text {
  width: 55%;
  padding: 15px 0 15px 20px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  height: 40px;
  margin-right: 0;
  color: black !important;
  outline: none;
  background: none;
  border-top: 2px solid #0050C8;
  border-bottom: 2px solid #0050C8;
  float: left;
  box-sizing: border-box;
  transition: all 0.15s;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: black;
}

#search_text:focus {
  background: #409777;
}

#search_button {
  background: url(../../liaisons/images/loupe.png) center no-repeat;
  width: 60px;
  float: left;
  border-top: 2px solid #0050C8;
  border-bottom: 2px solid #0050C8;
  border-right: 2px solid #0050C8;
  padding: 0;
  text-align: center;
  height: 40px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

#options {
  background: #0050C8;
  border-radius: 10px 0 0 10px;
}

#options a {
  border-left: 0 none;
  color: white;
}

#options a:hover {
  border-left: 0 none;
  color: #0050C8;
}

#options > a {
  background-image: url(liaisons/images/triangle.png);
  background-position: 85% center;
  background-repeat: no-repeat;
  padding-right: 24px;
}

.subnav {
  visibility: hidden;
  position: absolute;
  top: 110%;
  left: 0;
  width: 200px;
  height: auto;
  opacity: 0;
  transition: all 0.1s;
  background: #0050C8;
}

.subnav li {
  float: none;
}

.subnav li:hover {
  color: #0050C8;
  border: 2px solid #0050C8;
}

.subnav li a {
  border-bottom: 2px solid white;
}

.subnav li a:hover {
  background: white;
  color: #0050C8;
  border: 2px solid #0050C8;
}

#options:hover .subnav {
  visibility: visible;
  top: 100%;
  opacity: 1;
}

.liste {
  display: contents;
}

/*
@media (max-width: 700px) {
  #search {
    width: 80%;
  }
  #search_text{
    width: 87%;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    height: 40px;
    margin-right: 0;
    color: black!important;
    outline: none;
    background: none;
    border-top:2px solid $bleuRoyal ;
    border-bottom:2px solid $bleuRoyal ;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
  }
}*/
/** Infolettre **/
.socialMedia {
  background: #E5E5E5;
  padding-top: 2rem;
  padding-bottom: 5rem;
}
.socialMedia__texte {
  margin-bottom: 2rem;
}
@media (max-width: 860px) {
  .socialMedia__texte {
    text-align: center;
  }
}
.socialMedia__div {
  max-width: 70%;
  margin: 0 auto;
}
.socialMedia__flex {
  display: flex;
  align-items: center;
}
@media (max-width: 860px) {
  .socialMedia__flex {
    display: grid !important;
  }
}
.socialMedia__flex span {
  margin-right: 5rem;
}
@media (max-width: 860px) {
  .socialMedia__flex span {
    margin-right: 0;
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
  }
}

/** Livres **/
/* Entete*/
/** Livres **/
/**
* @author Gabriel Caron <1861095@csfoy.ca>
* @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* LIVRES
* Styles généraux
*/
.livre__lien {
  text-decoration: none;
  filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.1));
}
@media screen and (min-width: 500px) {
  .livre__lien {
    grid-column: span 6;
  }
}
@media screen and (min-width: 900px) {
  .livre__lien {
    grid-column: span 4;
  }
}
@media screen and (min-width: 900px) {
  .livre__lien .livre__conteneurVignette {
    position: relative;
    top: 0;
    transition: top 0.2s ease-in;
  }
}
@media screen and (min-width: 900px) {
  .livre__lien:hover .livre__conteneurVignette {
    position: relative;
    top: -2rem;
  }
}
.livre__lien:hover .livre__categorie {
  background-color: #0050C8;
  color: #fff;
  border: 2px solid #0050C8;
}
.livre__article {
  margin-bottom: 5rem;
}
.livre__image {
  border-radius: 5px;
}
.livre__image.etiquette {
  border-radius: 5px 5px 0 0;
}
.livre__etiquette {
  background-color: #0050C8;
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: #fff;
  border-radius: 0 0 5px 5px;
}
.livre__titre {
  font-size: 3rem;
  color: #0050C8;
  margin-top: 3rem;
}
@media screen and (min-width: 1000px) {
  .livre__titre {
    margin-top: 8rem;
  }
}
.livre__listeInfos {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.livre__auteur {
  font-size: 2.5rem;
  color: #000;
}
.livre__categorie {
  font-size: 1.6rem;
  color: #000;
  border: 2px solid #E5E5E5;
  padding: 0.9rem;
  margin-top: 1rem;
  display: inline-block;
}
.livre__tablette {
  display: none;
}
@media screen and (min-width: 1000px) {
  .livre__tablette {
    display: block;
    position: relative;
    top: -26rem;
  }
}

/** errreur **/
.erreur {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 5rem;
  padding-bottom: 8rem;
}
.erreur__sousTitre {
  color: #0050C8;
  font-size: 10rem;
}

/** tabsection **/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.tabSection {
  width: 100%;
  height: auto;
  padding-top: 4rem;
}
.tabSection__paragraph {
  font-family: inherit;
  font-size: 16px;
  font-weight: normal;
  line-height: inherit;
  color: black;
}
.tabSection__texts {
  font-size: 16px;
}
.tabSection__menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-bottom: 1.3px solid #dbdbdb;
  transition: all 0.3s ease;
}
.tabSection__menuLink {
  position: relative;
  overflow: hidden;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: inherit;
  cursor: pointer;
  width: calc(100% / 2);
  height: auto;
  padding: 1rem 0;
  border-bottom: 2.5px solid transparent;
  color: #9194a1;
  background: #ffffff;
  transition: all 0.3s ease;
}
@media (max-width: 900px) {
  .tabSection__menuLink {
    font-size: 14px;
  }
}
.tabSection__menuLink span {
  text-transform: uppercase;
}
.tabSection__menuLink::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}
.tabSection__menuLink.active {
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  border-bottom: 2.5px solid #0050C8;
  color: #0050C8;
}
.tabSection__bar {
  padding: 2.5rem 0;
  overflow: hidden;
  background: #ffffff;
}
.tabSection__barContent {
  display: none;
  width: 100%;
  min-height: 10rem;
  transition: all 0.3s ease;
}
.tabSection__barContent.active {
  display: block;
}

/****** LAYOUT ******/
/** Général **/
/**
* @author Gabriel Caron <1861095@csfoy.ca>
* @version 1.1
*
* ------------------
* TABLE DES MATIERES
* ------------------
* STYLES GÉNÉRAUX
*
*
*/
/* Base décimale */
html {
  font-size: 62.5%;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

/*# sourceMappingURL=styles.css.map */
