

// Bouton secondaire avec contour par défaut

.bouton {
  border-radius: 15px;
  border: solid 5px $bleuRoyal;
  padding: 0.5em 3em;
  text-decoration: none;
  font-family: $RobotoMedium;
  font-size: 1.8rem;
  color: $noir;
  text-align: center;
  transition: 0.2s all ease-in-out;

  &:hover {
    color: $blanc;
    background-color: $bleuRoyal;
    text-decoration: none;
  }

  &.texte {
    border: none;
    padding: 0;
    background-color: transparent;
    font-family: $RobotoMedium;
    font-size: 2rem;
    text-transform: uppercase;
    color: $bleuRoyal;

    &:hover {
      text-decoration: underline;
    }
  }
}


.selecteur {
  border-radius: 15px;
  border: solid 5px $bleuRoyal;

  &__enfant {
    font-family: $RobotoMedium;
    font-size: 2rem;
    border-radius: 7px;
    padding: 0.7rem 1rem;


  }

  & .cocher + .libelle, & .radio + .libelle {
    &.vignettes::before {
      content: "";
      background-image: url(../images/icones/vignettes.svg);
      background-repeat: no-repeat;
      height: 2rem;
      width: 2rem;
      display: inline-block;
      margin: 0 0.5rem 0.4rem 0.3rem;
      vertical-align: middle;
    }

    &.liste::before {
      content: "";
      background-image: url(../images/icones/liste.svg);
      background-repeat: no-repeat;
      height: 2rem;
      width: 2rem;
      display: inline-block;
      margin: 0 0.5rem 0.4rem 0.3rem;
      vertical-align: middle;
    }
  }

  & .cocher:checked + .libelle, & .radio:checked + .libelle {
    background-color: $bleuRoyal;
    color: $blanc;
    padding: 0.5rem;

    &.vignettes::before {
      content: "";
      background-image: url(../images/icones/vignettes--actif.svg);
      background-repeat: no-repeat;
      height: 2rem;
      width: 2rem;
      display: inline-block;
      margin: 0 0.5rem 0.4rem 0.3rem;
      vertical-align: middle;
    }

    &.liste::before {
      content: "";
      background-image: url(../images/icones/liste--actif.svg);
      background-repeat: no-repeat;
      height: 2rem;
      width: 2rem;
      display: inline-block;
      margin: 0 0.5rem 0.4rem 0.3rem;
      vertical-align: middle;
    }
  }
}
