/**
* @author Gabriel Caron
* @author Nicolas Thibault
* @version 2.0
*
* ------------------
* BOUTONS
* ------------------
*
*/


.btnDesactiver{
  background: grey;
  border: 0!important;
}
.btnDesactiver:hover{
  background: grey!important;
  color: black!important;
  border: 0!important;
}

.bouton {

  /* Bouton secondaire avec contour par défaut */

  display: inline-block;
  background-color: $blanc;
  border-radius: 15px;
  border: solid 5px $bleuRoyal;
  padding: 0.5rem 3rem;
  text-decoration: none;
  font-family: $RobotoMedium;
  font-size: 1.8rem;
  color: $noir;
  text-align: center;
  transition: 0.2s all ease-in-out;

  &:hover {
    color: $blanc;
    background-color: $bleuRoyal;
    text-decoration: none;
  }

  /* Boutons d'action */

  &.action {

    background-color: $bleuRoyal;
    font-family: $RobotoMedium;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: $blanc;

    &:hover {
      color: $blanc;
      border: solid 5px $bleuSurvol;
      background-color: $bleuSurvol;
      text-decoration: none;
    }

    /* Ajout au panier */

    &.ajoutPanier {
      display: inline-block;

      &::before {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
        vertical-align: bottom;
        content: "";
        background-image: url(../images/icones/ajouterPanier.svg);
      }
    }
  }

  /* Bouton texte seulement */

  &.texte {
    border: none;
    padding: 0;
    background-color: transparent;
    font-family: $RobotoMedium;
    font-size: 2rem;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: $bleuRoyal;
    cursor: pointer;

    &.renverse {
      color: $blanc;
    }

    &.destructif {
      color: $rouge;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Sélecteur (mode d'affichage) */

.selecteur {
  border-radius: 15px;
  border: solid 5px $bleuRoyal;

  &__enfant {
    font-family: $RobotoMedium;
    font-size: 2rem;
    border-radius: 7px;
    padding: 0.7rem 1rem;


  }

  & .cocher + .libelle, & .radio + .libelle {
    &.vignettes::before {
      content: "";
      background-image: url(../images/icones/vignettes.svg);
      background-repeat: no-repeat;
      height: 2rem;
      width: 2rem;
      display: inline-block;
      margin: 0 0.5rem 0.4rem 0.3rem;
      vertical-align: middle;
    }

    &.liste::before {
      content: "";
      background-image: url(../images/icones/liste.svg);
      background-repeat: no-repeat;
      height: 2rem;
      width: 2rem;
      display: inline-block;
      margin: 0 0.5rem 0.4rem 0.3rem;
      vertical-align: middle;
    }
  }

  & .cocher:checked + .libelle, & .radio:checked + .libelle {
    background-color: $bleuRoyal;
    color: $blanc;
    padding: 0.5rem;

    &.vignettes::before {
      content: "";
      background-image: url(../images/icones/vignettes--actif.svg);
      background-repeat: no-repeat;
      height: 2rem;
      width: 2rem;
      display: inline-block;
      margin: 0 0.5rem 0.4rem 0.3rem;
      vertical-align: middle;
    }

    &.liste::before {
      content: "";
      background-image: url(../images/icones/liste--actif.svg);
      background-repeat: no-repeat;
      height: 2rem;
      width: 2rem;
      display: inline-block;
      margin: 0 0.5rem 0.4rem 0.3rem;
      vertical-align: middle;
    }
  }
}
[role="radio"] {
  padding:5px;
}
[role="radio"]:focus {
  border: solid 3px $bleu;
}

[role="radio"][aria-checked="true"]::before {
  content: "(x)";
  font-family: monospace;
}

[role="radio"][aria-checked="false"]::before {
  content: "( )";
  font-family: monospace;
}
