/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 5.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* Filtres et tris
*/

/* Styles communs à la liste des livres et aux fiches des livres */

.livresIndex, .artistes, .ficheLivre {

  & .formulaire {

	// Styles généraux communs

	@include conteneur1400px($conteneurBleed: true, $flex: true);
	flex-wrap: wrap;

	&__liste {
	  padding: 2rem 0;
	  margin: 0;
	  width: 100%;
	  display: flex;
	  flex-wrap: wrap;
	  gap: 2rem;
	  list-style-type: none;
	}

	&__listeModes {
	  @include rangeeFlex;
	  flex-basis: 100%;
	  padding: 0.788rem 0.5rem;

	  @media screen and (min-width: $tablet900px) {
		flex-basis: initial;
	  }
	}

	& #modesAffichage {
	  & .selecteur {
		&__enfant {
		  border-radius: 7px;
		  padding: 0.7rem 1rem;
		}
	  }
	}

	&__conteneursInlineFlex {
	  display: inline-flex;
	  flex-wrap: wrap;
	  flex-basis: 100%;
	  justify-content: space-between;
	  gap: 2rem;
	}

	.bloc {

	  & .surtitre {
		display: block;
		background-color: $bleuRoyal;
		color: $blanc;
		font-family: $RobotoBold;
		font-size: 1.6rem;
		text-transform: uppercase;
		border-radius: 0.75rem 0.75rem 0 0;
		padding: 1rem 0.5rem;
		margin: -3rem -1rem 1rem -1rem;
	  }

	  .radio {
		width: 2.5rem;
		height: 2.5rem;
		vertical-align: middle;

		& + .libelle {
		  display: initial;
		}
	  }

	  input[type=text], input[type=number] {
		width: calc(100% - 8px);
		height: 4.4rem;
	  }

	  // Sinon, les libellés prennent 100% de la largeur par défaut
	  .libelle {
		display: block;
		font-size: 2rem;
		vertical-align: middle;
	  }

	  select {
		width: 100%;
		height: 5rem;
		padding: 0.75rem;
	  }

	  textarea {
		width: calc(100% - 6px);
		height: 25rem;
	  }

	}

	&__champEnveloppe {
	  font-family: $RobotoMedium;
	  font-style: normal;
	  font-size: 2rem;
	  line-height: 100%;
	  text-align: center;
	  padding: 1rem;

	  &Rangee {
		border: 5px solid $bleuRoyal;
		border-radius: 1.5rem;
		&:hover {
		  background-color: $bleuRoyal;
		  color: $blanc;
		  & .formulaire__select {
			background-color: $bleuRoyal;
		  }
		}
	  }
	}

	// Styles spéciques dans les fieldsets

	&__groupeChamps {
	  border: none;
	  margin: 0;
	  padding: 0;

	  &.modeAffichage {
		@include rangeeFlex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		gap: 2rem;
	  }

	  &.tris {
		@include rangeeFlex;
		justify-content: flex-end;
	  }

	  &.tuiles {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		width: 100%;

		& .bloc {
		  display: flex;
		  margin: 0;
		  @media screen and (max-width: $mobile600px) {
			width: calc(50% - 1rem);
		  }

		  & .libelle {
			display: flex;
			justify-content: center;
			align-items: center;
		  }
		}


		// Seul le libellé est visible, la case à cocher est masquée
		& .libelle {
		  width: 100%;
		  font-size: 2rem;
		  line-height: 100%;
		}

		// Change la couleur de la tuile (label) lorsque cochée
		& .cocher:checked + .libelle, & .radio:checked + .libelle {
		  background-color: $bleuRoyal;
		  color: $blanc;

		  &::before {
			content: "";
			background-image: url(../images/icones/crochet.svg);
			background-repeat: no-repeat;
			height: 2.5rem;
			width: 2.5rem;
			margin-right: 1rem;
		  }
		}
	  }
	}
  }
}


/* Styles spécifiques à la liste des livres */

.indexLivres {

  & .formulaire {

	&__liste {
	  @include rangeeGrid12col();
	  @media screen and (min-width: $tablet900px) {
		& > * {
		  grid-column: span 4;
		}
	  }

	  @media screen and (min-width: $desktop1200px) {
		& > * {
		  grid-column: span 2;
		}
	  }
	}

	// Styles spéciques dans les fieldsets

	&__groupeChamps {

	  &.tuiles {

		& .libelle {
		  padding: 2.75rem 1rem;
		}
	  }
	}
  }
}

/* Styles spécifiques aux fiches des livres */

.ficheLivre {

  & .formulaire {

	&__groupeChamps {

	  &.tuiles {

		& .libelle {
		  padding: 1.25rem 2rem;
		}
	  }
	}
  }
}
.livresIndex .formulaire__groupeChamps.tuiles .bloc .libelle, .artistes .formulaire__groupeChamps.tuiles .bloc .libelle, .ficheLivre .formulaire__groupeChamps.tuiles .bloc .libelle, .livresIndex .formulaire__champEnveloppeRangee, .artistes .formulaire__champEnveloppeRangee, .ficheLivre .formulaire__champEnveloppeRangee, select, .livresIndex .formulaire #modesAffichage .selecteur__enfant, .artistes .formulaire #modesAffichage .selecteur__enfant, .ficheLivre .formulaire #modesAffichage .selecteur__enfant, .selecteur__enfant{
	cursor: pointer;
}
