.bouton {
  border-radius: 4px;
  color: $bleuRoyal;
  border: solid 3px $bleuRoyal;
  padding: 0.5em 3em;
  text-decoration: none;
  font-size: 12px;
  background-color: white;
}



.bouton--hover {

  //background-color: $rouge_2;
}
.bouton--active {
  background-color: $bleuRoyal;
  border-radius: 4px;
  color: white;
  padding: 0.5em 3em;
  text-decoration: none;
  font-size: 12px;
}
/*.bouton--inverse {
  background-color: white;
  color: $orange;

  border: 2px solid $orange;
}
.bouton--inverse--hover {
  color: $rouge_2;
  border-color: $rouge_2;
}
.bouton--inverse--active {
  color: $rouge_3;
  border-color: $rouge_3;
}*/
/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 2021.3
*
* ------------------
* TABLE DES MATIERES
* ------------------
* Formulaire
*/

// Temporaire, juste pour valider si l'étape initiale s'affiche correctement avec de passer au JS

.formulaire {

  // Styles généraux

  &__sectionLegende {
    padding: 2rem 0;
  }

  &__liste {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;

    @include rangeeGrid12col();
    @media screen and (min-width: $mobile600px) {
      & > * {
        grid-column: span 4;
      }

    }

  }

  .bloc {

    & .surtitre {
      display: block;
      background-color: $bleuRoyal;
      color: $blanc;
      font-family: $RobotoBold;
      font-size: 1.6rem;
      text-transform: uppercase;
      border-radius: 0.75rem 0.75rem 0 0;
      padding: 1rem 0.5rem;
      margin: -3rem -1rem 1rem -1rem;
    }

    .radio {
      width: 2.5rem;
      height: 2.5rem;
      vertical-align: middle;

      & + .libelle {
        display: initial;
        padding-left: 0.5rem;
      }
    }

    .cocher {
      width: 2.5rem;
      height: 2.5rem;
      & + .libelle {
        display: initial;
        padding-left: 0.5rem;
        vertical-align: text-bottom;
      }
    }

    input[type=text], input[type=number] {
      width: calc(100% - 8px);
      height: 4.4rem;

      &.montantDonPersonnalise {
        width: 10rem;
        font-family: $RobotoMedium;
        font-style: normal;
        font-size: 3rem;
        line-height: 100%;
        border: 5px solid $bleuRoyal;
        border-radius: 1.5rem;
        text-align: center;
        padding: 1rem;
      }
    }

    // Sinon, les libellés prennent 100% de la largeur par défaut
    .libelle {
      display: block;
      font-size: 2rem;
      vertical-align: middle;
      padding: 0.5rem 0;

      &.modifierMontantDon {
        display: inline-block;
        font-family: $RobotoBold;
        font-size: 2.2rem;
        padding-right: 2rem;
        vertical-align: baseline;
      }
    }

    select {
      width: 100%;
      height: 5rem;
      padding: 0.75rem;
    }

    textarea {
      width: calc(100% - 6px);
      height: 25rem;
    }

  }

  &__champEnveloppe {
    font-family: $RobotoMedium;
    font-style: normal;
    font-size: 2rem;
    line-height: 100%;
    text-align: center;
    padding: 1rem 1rem;
    &Rangee {
      border: 5px solid $bleuRoyal;
      border-radius: 1.5rem;

    }
  }


  // Styles spéciques dans les fieldsets

  &__groupeChamps {
    border: none;
    margin: 0;
    padding: 0;

    &.rangeeReduite, & .rangee {
      @include rangeeGrid12col();
      & > * {
        grid-column: 1 / 13;
      }
      & .bloc {
        grid-column: 1 / 9;
        margin: 1rem 0;
        &.demi {
          grid-column: 1 / 6;
        }
      }
    }

    &Rangee{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media(min-width: 600px) {
        flex-direction: row;
      }
    }

    &.tuiles {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      & .formulaire__conteneur3colonnes {
        display: flex;
        gap: 2rem;
        width: 100%;
        padding-left: 0;
        margin: 0;

        & .bloc {
          width: calc(50% - 2rem);
        }
      }


      & .bloc {
        display: flex;
        margin: 0;
        @media screen and (max-width: $mobile600px) {
          width: calc(50% - 1rem);
        }

        & .libelle {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }


      // Seul le libellé est visible, la case à cocher est masquée
      & .libelle, & .suggere {
        width: 100%;
        font-family: $RobotoMedium;
        font-style: normal;
        font-size: 2rem;
        line-height: 100%;
        border: 5px solid $bleuRoyal;
        border-radius: 1.5rem;
        text-align: center;
        padding: 1rem 1rem;
      }

      // Change la couleur de la tuile (label) lorsque cochée
      & .cocher:checked + .libelle, & .radio:checked + .libelle {
        background-color: $bleuRoyal;
        color: $blanc;
      }

      // Grandes tuiles
      &.grandes {
        & .libelle, & .suggere {
          font-family: $RobotoBold;
          font-size: 4rem;
        }
      }
    }
  }

  // Icônes du formulaire (pourrait être déplacé dans un module éventuellement)

  &__securise {

    &::before {
      content: "";
      display: inline-block;
      width: 3rem;
      height: 2.5rem;
      vertical-align: top;
      background-repeat: no-repeat;
      transition: all, 0.1s ease-in-out;
      background-image: url(../images/icones/connexionssl.svg);
    }
  }
}
