/** Hyperliens **/
/**
* @author Philippe Grenier philippegrenier99@gmail.com
* @todo Compléter selon l'énoncé de l'exercice
*/
.hyperlien {
  color: white;
  text-decoration: none;
}
.hyperlien--visited {
  color: #226aa0;
}
.hyperlien--hover {
  //color: $rouge_2;
  text-decoration: underline;
}
.hyperlien--active {
  //color: $rouge_3;
  text-decoration: underline;

}